 
 body {
    text-align: center;
}
  
img {
    height: 200px;
    width: 350px;
}
  
#imageListId {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
   
#imageListId div {
    margin: 0 4px 4px 4px;
    padding: 0.4em;
    display: inline-block;
}
  
#outputvalues {
    margin: 0 2px 2px 2px;
    padding: 0.4em;
    padding-left: 1.5em;
    width: 250px;
    background: gray;
}
   
.listitemClass {
    width: 350px;
}
   
.height {
    height: 10px;
}